* {
    box-sizing: border-box;
}

text[id$='licenseText'] {
    display: none;
}
#board_o5w0cbx60_licenseText {
    display: none;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}